/* Keyframes for animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Default Styles */
.Background {
  background-color: black;
  height: 100%;
}

.Header_fieldset {
  margin: auto;
  padding: 0px;
}

.Header {
  background: linear-gradient(#daa520eb, #f8d910eb, #daa520eb);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  top: 0;
  padding: 0 20px;
}

.appLogo {
  height: 80px;
  width: 80px;
  padding-right: 10px;
  padding-left: 10px;
}

.profile {
  height: 50px;
  width: 50px;
  padding-right: 10px;
  padding-top: 10px;
}

.options {
  display: flex; 
  gap: 30px; 
  color: black;
  font-family: Cambri;
}

.optionItem {
  padding: 5px 10px;
  cursor: pointer;
  white-space: nowrap; 
  font-size: 20px;
}

.countdown-flex-container {
  display: flex;
  align-items: center; 
  gap: 50px; 
  justify-content: center;
  width: 100%;
  height: 90px;
}

.EventName-display-container {
  font-size: 50px;
  width: 70vh;
}

.countdown-timer {
  text-align: center;
  font-size: 24px;
  margin: 10px;
  color: whitesmoke;
  font-family: fantasy;
  font-style: italic;
  font-size: 50px;
}

.register-button {
  height: 60px;
  width: 100px;
  border-color: #f8d910eb;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  background-color: black;
  color: #f8d910eb;
  font-family: fantasy;
  font-weight: 300;
  font-size: 20px;
}

.picture-description-container {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Entrepreneur-pic {
  width: 100%;
  height: 750px;
  padding-top: 10px;
  padding-left: 20px;
  position: relative;
  animation: fadeIn 1s ease-in-out forwards;
  z-index: 0;
  filter: brightness(0.5);
}

.LakshayaText {
  position: absolute;
  top: 0%;
  transform: translateX(0%);
  color: whitesmoke;
  text-align: center;
  padding: 0px;
  width: 40%;
  font-size: 80px;
  font-weight: 700;
  font-family: Cambria;
  z-index: 1;
  animation: fadeIn 1s ease-in-out forwards;
}

.Description {
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translateX(-50%);
  color: azure;
  text-align: center;
  padding: 20px;
  width: 60%;
  font-size: xx-large;
  font-style: italic;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 10px;
  border-color: gold;
  border-width: 1px;
  border-style: solid;
  z-index: 1;
  animation: slideInFromRight 1s ease-in-out forwards;
}

.speakers-title-container {
  width: 100%;
  height: 60px;
  background: linear-gradient(#ad8318, #f8d910, #ad8318);
  margin-top: 20px;
  margin-bottom: 20px;
}

.AboutUs-container {
  padding: 20px;
  background: linear-gradient(to bottom, #000000, #1a1a1a);
  border-radius: 10px;
  width: 100%;
  justify-content: center;
  position: relative;
  animation: fadeIn 2s ease-in-out;
}

.AboutUs {
  color: gold;
  justify-content: center;
  text-align: center;
  padding-top: 80px;
  font-size: 2rem;
  padding-bottom: 10px;
  font-family: 'Cambria', serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.AboutUs-content {
  font-size: 1.2rem;
  width: 90%;
  margin-left: 90px;
  color: azure;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.8;
  text-align: center;
  opacity: 1;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.AboutUs-content:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 12px gold;
}

/* Responsive Design - Adjust text sizes */

/* For Mobile devices */
@media (max-width: 600px) {

    .options{
      gap:0px;
      padding-left: 0px;
      justify-items: center;
      margin-right:3px;
    }
  
  .optionItem {
    padding: 1px 1px;
    font-size: 1.3vh;
  }

  .countdown-flex-container {
    gap: 3px; 
  }
  

  .EventName-display-container {
    font-size: 3vh;
    width: 30vh;
  }

  .Entrepreneur-pic {
    width: 100%;
    height: 75vh;
    padding-top: 1px;
    padding-left: 0px;
  }

  .LakshayaText {
    font-size: 4vh;
    padding-top: 2vh;
  }

  .Description {
    font-size: 18px !important;
  }

  .AboutUs {
    font-size: 1.5rem ;
  }

  .AboutUs-container{
    padding-left: 0px;
  }

  .AboutUs-content {
    font-size: 1.1rem ;
    margin-left:3vh;
    margin-right: 3vh;
  }
}

/* For Tablets */
@media (max-width: 1024px) {


  .options{
    gap:0px;
    padding-left: 0px;
    justify-items: center;
    margin-right:3px;
  }

.optionItem {
  padding: 1px 1px;
  font-size: 1.3vh;
}

  .LakshayaText {
    font-size: 4vh ;
    padding-top: 2vh;
  }

  .Description {
    font-size: 24px ;
  }

  .Entrepreneur-pic {
    width: 100%;
    height: 75vh;
    padding-top: 1px;
    padding-left: 0px;
  }


  .AboutUs {
    font-size: 1.8rem ;
  }

  .AboutUs-container{
    padding-left: 0px;
  }

  .AboutUs-content {
    font-size: 1.1rem ;
    margin-left:3vh;
    margin-right: 3vh;
  }
}
